* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* body {
    height: 200vh;
} */

/* nav styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 30px 100px;
    z-index: 10000;
}

.sticky .main-header {
    padding: 5px 100px;
    background: #FFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.1);
}

.main-header .logo {
    width: 100px;
    position: relative;
    color: #000;
    font-family: 'Della Respira', serif;
    text-decoration: none;
}

.main-header .nav-list {
    margin-left: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .nav-list li {
    position: relative;
    list-style: none;
    
}

.main-header .nav-list li a {
    position: relative;
    text-decoration: none;
    color: #8A959E;
    letter-spacing: 1px;
    transition: 0.3s;
    margin-left: 3em;
}

.main-header .nav-list li a:hover {
    color: #000;
    padding-bottom: 4px;
    border-bottom: 2px #000 solid;
}

/* sign in button styles */
.sign-in-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #E6E6E699;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.sign-in-btn:focus { 
    outline: none; 
}

.sign-in-btn:hover {
    background-color: #E0E1F0;
}

/* sign up button styles */
.sign-up-btn {
    width: 150px;
    height: 50px;
    margin-left: 1em;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.sign-up-btn:focus { 
    outline: none; 
}

.sign-up-btn:hover {
    background-color: #495057;
}

/* home styles */
.home-section {
    height: 100vh;
   /*  background: url(../images/img1.jpg) center/cover; */
}

.grid-container {
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    padding: 150px 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "heading-landing-text main-img";
  }
  
.heading-landing-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main-heading"
      "sub-heading";
    grid-area: heading-landing-text;
  }
  
.main-heading { 
    grid-area: main-heading;
    margin: 0 auto;
    font-size: 3rem;
    padding-top: 1rem;
}

.sub-heading { 
    grid-area: sub-heading; 
    padding-top: 1rem;
    font-size: 1.5em;
    color: #8A959E;
}
.main-img { 
    grid-area: main-img;
    width: 55vh;
    margin: 0 auto;
}

.main-img img {
    width: 100%;
    box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);
}

/* about styles */
.about-section {
    height: 100vh;
    background-color: red;
}

/* plans styles */
.plans-section {
    height: 100vh;
    background-color: blue;
}

/* footer styles */
.footer-section {
    height: 60vh;
    background-color: yellow;
}